body {
  font-family: 'Manjari', sans-serif;
}

.input {
  color: hsla(0, 0%, 100%, 0.9);
  background: 0 0;
  border: none;
  outline: 0;
  font-family: 'Manjari', sans-serif;
  width: 100%;
  height: 100%;
  font-size: 18px;
}
textarea {
  overflow: auto;
  resize: vertical;
}
.simple-keyboard-preview {
  transition: background 0.3s ease-in-out;
  background: #2e2e2e;
  border: 20px solid rgba(0, 0, 0, 0.1);
  height: 250px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.simple-keyboard.hg-layout-default .hg-button.hg-red {
  background: rgb(255, 0, 0, 0.7);
  color: white;
}
.hg-button {
  position: relative;
  font-family: manjari;
}

span.alt {
  opacity: 0.7;
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 10px;
  color: red;
}
#notice {
  display: none;
}

.kb-name {
  margin-top: 20px;
}
.buttons-set {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.checkbox-set {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container {
  max-width: 1000px;
}
.btn {
  margin-right: 10px;
  margin-top: 5px;
}
.inputfilebox {
  display: none;
}
.simple-keyboard .hg-button:active {
  background: #1c4995;
  color: white;
}

@media screen and (max-width: 945px) {
  .hg-button {
    position: relative;
    font-size: 10px;
    /* min-width: 40px;
  min-height: 40px; */
  }
  span.alt {
    font-size: 7px;
  }
  #physicalkb,
  #checkbox {
    display: none;
  }
}

/*
  Theme: myTheme1
*/
.simple-keyboard.myTheme1 {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.simple-keyboard.myTheme1 span.alt {
  opacity: 0.7;
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 10px;
  color: rgb(0, 247, 255);
}
.simple-keyboard.myTheme1 .hg-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.simple-keyboard.myTheme1 .hg-button:active {
  background: #1c4995;
  color: white;
}

#root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
  background: #1c4995;
}

@media screen and (orientation: landscape) and (max-width: 945px) {
  .simple-keyboard-preview {
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
  .hg-theme-default .hg-button,
  .hg-theme-default.myTheme1 .hg-button {
    position: relative;
    font-size: 15px;
    height: 30px;
  }

  .btn,
  .buttons-set,
  .simple-keyboard.myTheme1 .btn,
  .simple-keyboard.myTheme1 .buttons-set {
    height: 25px;
    font-size: 10px;
  }
}
